div{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    text-align: center;
    padding: 25px;
}

nav a:hover{
    background-color: #a77979;
    color: #472d2d
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img{
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#background{
        height: 725px;
        background-color: #a77979;
        grid-column: 1/11;
        grid-row: 4/9;
}

body{
    background-color: white;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #553939;
}

.icon{
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #a77979;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 

.book{
    background-color: #472d2d;
    color: #a77979;
    font-size: 18px;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #a77979;
    color: #472d2d
}

.msg{
    background-color: #472d2d;
    color: #a77979;
    line-height: 1.5em;
    padding-bottom: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p{
    font-size: .8em;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    padding-bottom: 15px;
}

.home-title{
    color: #a77979;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #704f4f;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
    align-self: center;
}

hero-img{
    text-align: center;
}

.join{
    text-decoration: none;
    background-color: #704f4f;
    color: #a77979;
    font-size: 18px;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    color: #553939;
    background-color: #a77979;
}

footer{
    text-decoration: none;
    color: #a77979;
    background-color: #704f4f;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}

.site-plan{
    text-decoration: none;
    color: #a77979;
}

.site-plan:hover {
    color: #472d2d
}
.contact{
    text-decoration: none;
    color: #a77979;
}
.contact:hover{
    color: #472d2d;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    margin: 0;
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

footer{
    margin-top: 200px;
}

.card-img {
    border: 10px solid #472d2d;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

.river-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.text{
    margin: 10%;
}

.river-image {
    width: 150px;
    margin: 10%;
}

.header{
    margin: 50px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;

    }
    footer {
        margin-top: 25px;
    }
}