div{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

nav a:hover{
    background-color: #a77979;
    color: #472d2d
}

#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
        height: 725px;
        background-color: #a77979;
}

body{
    background-color: white;
}
header{
    background-color: #553939;
}

.icon{
    width: 80px;
}
nav a {
    text-align: center;
    color: #a77979;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 

.book{
    background-color: #472d2d;
    color: #a77979
}
.book:hover{
    background-color: #a77979;
    color: #472d2d
}

.msg{
    background-color: #472d2d;
    color: #a77979
}

.home-title{
    color: #a77979;
}

h4{
    color: #704f4f;
}

.logo{
    width: 85px;
}

hero-img{
    text-align: center;
}

.join{
    text-decoration: none;
    color: #a77979;
}
.join:hover {
    background-color: #704f4f;
    color: #a77979;
}

footer{
    text-decoration: none;
    color: #a77979;
    background-color: #704f4f;
}

.site-plan{
    text-decoration: none;
    color: #a77979;
}

.site-plan:hover {
    color: #472d2d
}
.contact{
    text-decoration: none;
    color: #a77979;
}
.contact:hover{
    color: #472d2d;
}

body{
    margin: auto;
}