div{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    padding: 25px;
}

nav a:hover{
    background-color: #a77979;
    color: #472d2d
}

#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
        height: 725px;
        background-color: #a77979;
}

body{
    background-color: white;
}
header{
    background-color: #553939;
}

.icon{
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #a77979;
    text-decoration: none;

}
footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 

.book{
    background-color: #472d2d;
    color: #a77979;
    font-size: 18px;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #a77979;
    color: #472d2d
}

.msg{
    background-color: #472d2d;
    color: #a77979;
    line-height: 1.5em;
    padding-bottom: 35px;
}

.msg p{
    font-size: .8em;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    padding-bottom: 15px;
}

.home-title{
    color: #a77979;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #704f4f;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

hero-img{
    text-align: center;
}

.join{
    text-decoration: none;
    background-color: #704f4f;
    color: #a77979;
    font-size: 18px;
    font-family: 'Oswald', 'Public Sans', sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    color: #553939;
    background-color: #a77979;
}

footer{
    text-decoration: none;
    color: #a77979;
    background-color: #704f4f;
    padding: 25px 50px;
}

footer .social img{
    padding-top: 15px;
}

.site-plan{
    text-decoration: none;
    color: #a77979;
}

.site-plan:hover {
    color: #472d2d
}
.contact{
    text-decoration: none;
    color: #a77979;
}
.contact:hover{
    color: #472d2d;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    margin: 0;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

footer{
    margin-top: 200px;
}

.card-img {
    border: 10px solid #472d2d;
}

main section img {
    box-sizing: border-box;
}