body {
    background-color:#fba6c9;
}

h1:hover {
    color: white
}

h2 {
    color: white
}

p{
    color: white;
}

h2{
    margin:0 auto ;
    width: 100px;
}
header {
    margin:0 auto;
    width: 200px;
}