/*main and home page*/

header {
  display: grid;
  background-color: #ded6fc;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

nav a {
  text-align: center;
  padding: 25px;
  text-decoration: none;
  background-color: #0d6244;
  color: #ded6fc;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  width: 100px;
}

nav a:hover {
  background-color: #a489fb;
  color: #ded6fc;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  width: 100px;
}

nav :hover {
  background-color: #a489fb;
}

a {
  text-decoration: none;
}

.navbars {
  margin-top: 250px;
  margin-left: 30%;
}

.welcome {
  color: #ded6fc;
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  margin-left: 10%;
  text-align: center;
  border-radius: 5px;
  width: 75%;
}

body {
  margin: 0%;
}

.icons_grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.icon_row {
  width: 100%;
}

.icon_titles {
  color: #faceb1;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 30%;
  height: 10%;
  text-align: center;
  margin-left: 50px;
  margin-top: 250px;
  margin-bottom: 50px;
}

.icon_titles:hover {
  text-decoration: none;
  color: #a489fb;
  align-items: center;
}

.site-plan {
  text-decoration: none;
  color: #a489fb;
  font-family: "Open Sans", sans-serif;
}

.social {
  width: 50px;
}

footer {
  color: #a489fb;
  font-family: "Open Sans", sans-serif;
  background-color: #ded6fc;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* icons images */

.witchshat_icon {
  background-image: url("../images/hatlo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.witchshat_icon:hover {
  background-image: url("../images/hatp.png");
}

.raven_icon {
  background-image: url("../images/ravenlo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.raven_icon:hover {
  background-image: url("../images/ravenp.png");
}

.grave_icon {
  background-image: url("../images/gravelo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.grave_icon:hover {
  background-image: url("../images/gravep.png");
}

.hand_icon {
  background-image: url("../images/handlo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.hand_icon:hover {
  background-image: url("../images/handp.png");
}

.skull_icon {
  background-image: url("../images/skulllo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.skull_icon:hover {
  background-image: url("../images/skullp.png");
}

.house_icon {
  background-image: url("../images/houselo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.house_icon:hover {
  background-image: url("../images/housep.png");
}

.ghost_icon {
  background-image: url("../images/ghostlo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.ghost_icon:hover {
  background-image: url("../images/ghostp.png");
}

.wolf_icon {
  background-image: url("../images/wolflo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.wolf_icon:hover {
  background-image: url("../images/wolfp.png");
}

.pumpkin_icon {
  background-image: url("../images/pumpkinlo.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.pumpkin_icon:hover {
  background-image: url("../images/pumpkinp.png");
}

/* description page */

.bats {
  width: 200px;
  margin-left: 10%;
}

.description_grid {
  display: grid;
  grid-template-columns: 10% 80%;
}

.wd_header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-family: "Volkhov", serif;
  font-size: 300%;
  color: #0d6244;
}

.wd_text {
  margin-left: 10%;
  margin-right: 5%;
  font-family: "Open Sans", sans-serif;
}

/* poetry pages */

.pp_icon {
  width: 100px;
  margin-left: 10%;
  float: left;
}

.pp_text {
  margin: 10%;
}

/* button */

.pn_button {
  text-decoration: none;
  display: inline-block;
  color: #0d6244;
  background-color: #ded6fc;
  border-radius: 50%;
}

.pn_button:hover {
  background-color: #faceb1;
  color: #ff9168;
}

.previous {
  color: #0d6244;
  background-color: #ded6fc;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #0d6244;
  background-color: #ded6fc;
  border-radius: 50%;
  align-items: center;
}

.previous:hover {
  background-color: #faceb1;
  color: #ff9168;
}

.next {
  color: #0d6244;
  background-color: #ded6fc;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #0d6244;
  background-color: #ded6fc;
  border-radius: 50%;
}

.thebuttons {
  width: 200px;
  margin: 20px auto 5% auto;
  text-align: center;
}
.next:hover {
  background-color: #faceb1;
  color: #ff9168;
}
