/*main and home page*/

header {
  display: grid;
  background-color: #ded6fc;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

nav a {
  text-align: center;
  padding: 25px;
  text-decoration: none;
  background-color: #0d6244;
  color: #ded6fc;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  width: 100px;
}

nav a:hover {
  background-color: #a489fb;
  color: #ded6fc;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  width: 100px;
}

nav :hover {
  background-color: #a489fb;
}

a {
  text-decoration: none;
}

.navbars {
  margin-top: 250px;
  margin-left: 30%;
}

.welcome {
  background-color: #0d6244;
  color: #ded6fc;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  margin-left: 10%;
  text-align: center;
  border-radius: 5px;
  width: 75%;
}

body {
  margin: 0%;
}

.icons_grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.icon_row {
  width: 100%;
}

.icon {
  width: 40%;
}

.icon_titles {
  color: #faceb1;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 30%;
  height: 10%;
  text-align: center;
}

.icon_titles:hover {
  text-decoration: none;
  color: #a489fb;
  align-items: center;
}

.site-plan {
  text-decoration: none;
  color: #a489fb;
  font-family: "Open Sans", sans-serif;
}

.social {
  width: 50px;
}

footer {
  color: #a489fb;
  font-family: "Open Sans", sans-serif;
  background-color: #ded6fc;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* description page */

.bats {
  width: 200px;
  margin-left: 10%;
}

.description_grid{
  display: grid;
  grid-template-columns: 10% 80%;
}

.wd_header{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-family: "Volkhov", serif;
  font-size: 300%;
  color: #0D6244;
}

.wd_text{
  margin-left: 10%;
  margin-right: 5%;
  font-family: "Open Sans", sans-serif;
}